
* {                                       
  box-sizing: border-box;                  
  margin: 0px;                           
}

html, body {                     
  margin: 0px;                   
  background-color: #cda2a2;    
  color: #303030;              
}  

div {                             
  overflow: hidden;               
}



.page {
  width: 700px;                   
  margin: 10px auto;            
}

header, footer {                 
  margin: 10px 0px;
}

main {                       
  text-align: justify;            
}

ul {
  text-align: center
}

h1, h2, h3, h4, h5 {                      
  margin: 10px 0px;
  text-align: center;           
} 

p {
  margin: 10px 0px;
  text-align: justify;            
}

img {
  margin: 10px 0px;
}



.item-plaatje {
  float: left;
  width:250px;
  padding-right: 15px; 


}
.item-tekst {
  float:right;
  width: 450px;
}



h1, h2, h3 {
      color:#ce1264;
}

.smalltext {
    text-align: center;
    font-size: 0.7em;
}

a {
    color: #ce1264;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #000000;
    overflow: hidden;
    border-radius: 10px;
  border: 3mm ridge #ce1264;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: #ce1264;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #f2f2f2;
}

nav li a.active {
    background-color: #000000;
}

.Songs {
  margin-left: 32%;
  margin-right: 50%;
  width:250px;


}


.Photos{
  margin-left: 150px;
  width:400px;
  padding-right: 15px; 
  
  
}


.item-logo {
  float: right;
  width:250px;
  padding-left: 15px; 
  
}

ul#remove {
    list-style-type: none;
    padding: 0;
}

.app {
  float: right;
  border-radius: 10px;
  height: 40px;
}

.bp {
  border-radius: 10px;
}